<!-- Sort and Results Info -->
<!-- TODO: future implementation: render page using the filters options -->
<div class="flex justify-between items-center mb-6">
	<p class="text-muted-foreground">Showing {{products().length}} products</p>
	<div class="w-48">
		<mat-select [(value)]="selected"
			class="flex h-10 w-full items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1">
			@for (option of sortOptions; track option.value) {
			<mat-option [value]="option.value"
				class="relative flex w-full cursor-default select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50">
				{{ option.label }}
			</mat-option>
			}
		</mat-select>
	</div>
</div>

<!-- Products Grid -->
<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6">
	@for (product of products(); track product.id){
	<app-card [imgUrl]="product.images[0]" [overline]="product.category" [title]="product.name"
		[linkUrl]="`/products/${product.id}`" [rating]="product.rating" [reviews]="product.reviews">
		<!-- Card Badge -->
		<div card-badge>
			<div class="absolute top-3 left-3 flex flex-col space-y-2">
				@if (product.isNew) {
				<span class="bg-green-500 text-white px-2 py-1 rounded text-xs font-medium">
					New
				</span>
				}
				@if(product.isSale) {
				<span class="bg-destructive text-destructive-foreground px-2 py-1 rounded text-xs font-medium">
					Sale
				</span>
				}
			</div>
			<button (click)="addFavorite()"
				class="absolute top-3 right-3 p-2 bg-white rounded-full shadow-md opacity-0 group-hover:opacity-100 transition-opacity cursor-pointer">
				<svg lucideHeart class="w-4 h-4" [class.!fill-black]="isFavorite" [class.!stroke-black]="isFavorite" />
			</button>
		</div>

		<!-- Card Footer -->
		<div class="flex items-center justify-between">
			<div class="flex items-center space-x-2">
				<span class="text-lg font-bold">{{product.price}}</span>
				@if(product.originalPrice) {
				<span class="text-muted-foreground line-through text-sm">
					{{product.originalPrice}}
				</span>
				}
			</div>
			<button uiButton size="sm" class="shrink-0" (click)="addToCart(product)">
				<svg lucideShoppingCart class="w-4 h-4 mr-2 text-white" />
				Add to Cart
			</button>
		</div>
	</app-card>
	}
</div>