@if(!error()){
<section class="py-16">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center mb-12">
      <h2 class="text-3xl font-bold">Featured Products</h2>
      <a uiButton [size]="'lg'" [routerLink]="['/products']">
        View All
      </a>
    </div>
    <div class="grid md:grid-cols-4 gap-6">
      @if (isProductLoading()) {
      <h1>Loading...</h1>
      } @else {
      @for (product of products(); track product.id) {
      <app-card
        [imgUrl]="product.images[0]"
        [title]="product.name"
        [linkUrl]="`/products/${product.id}`"
        [rating]="product.rating"
        [reviews]="product.reviews"
      >
        @if(product.isSale){
        <div card-badge
          class="absolute top-3 left-3 bg-destructive text-destructive-foreground px-2 py-1 rounded text-sm font-medium">
          Sale
        </div>
        }
      </app-card>
      }
      }
    </div>
  </div>
</section>
}